/* Resetter */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

:root {
    --primary-light: #f8f2e6;
    --primary-dark: #011d20;
    --secondary-dark: #117b86;
    --secondary-light: #48c8d9;
    --accent: #febb39;
    --text-light: #f8f2e6;
    --text-dark: #011d20;
}

.dark-mode {
    --primary-light: #02363b;
    --primary-dark: #011d20;
    --secondary-dark: #febb39;
    --secondary-light: #088d9b;
    --text-light: #f8f2e6;
    --text-dark: #f8f2e6;
}

html {
    scroll-behavior: smooth;
}

/* Fonts */
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    color: var(--text-dark);
    font-family: "Noto Serif Display", serif;
    margin-bottom: 1rem;
}

h1 {
    font-size: 4.06rem;
    line-height: 4.5rem;
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 1.953rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
}

p {
    color: var(--text-dark);
    font-family: "Poppins", sans-serif;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--secondary-dark);
    font-size: 1.25rem;
}

.underline-on-hover {
    display: inline-block;
    position: relative;
}

/* stolen from: https://www.30secondsofcode.org/css/s/hover-underline-animation */
.underline-on-hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.1em;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-dark);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-on-hover:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

@keyframes scaleUp {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.08;
    }
    100% {
        scale: 1.05;
    }
}

/* UI Elements */
button {
    display: inline-block;
    height: 3rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--accent);
    color: var(--primary-dark);
}

button:hover,
.product_graphics:hover {
    animation-name: scaleUp;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#darkmodeToggle {
    width: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-light);
    font-size: 1.563rem;
    font-weight: bold;
}
.dark_button {
    background-color: var(--accent);
}

input[type="text"] {
    box-sizing: border-box;
    width: 250px;
    height: 3rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    text-align: left;
    background-color: var(--primary-light);
    /* border-color: var(--primary -dark); */
    color: var(--text);
}

/* Menu */
nav {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark);
}

nav a {
    color: var(--text-light);
    text-decoration: none;
}

nav a.logo {
    font-family: "Noto Serif Display", serif;
    font-size: 1.25rem;
}

nav li {
    display: inline-block;
    margin: 0px 1rem;
}

/* Header */
header {
    display: flex;
    min-height: 80vh;
    padding: 5rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--primary-light);
}

header button {
    margin-bottom: 5rem;
}

.header_text {
    opacity: 0.3;
    width: 30vw;
    min-width: 300px;
}

.header_graphics {
    opacity: 0.3;
    width: 30vw;
    height: 30vw;
    min-width: 300px;
    min-height: 300px;
    border-radius: 300px;
    background-color: var(--secondary-light);
}

/* product section */
#product {
    padding: 2rem;
    background-color: var(--primary-light);
}

#product h3 {
    font-size: 1.953rem;
    line-height: 2.5rem;
}

#product article {
    display: flex;
    min-height: 50vh;
    padding: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.product_text {
    width: 50vw;
    min-width: 300px;
}

.product_graphics {
    width: 15vw;
    height: 15vw;
    min-width: 150px;
    min-height: 150px;
    margin: 3rem;
    background-color: var(--secondary-light);
    border-radius: 300px;
}

/* highlight sections */
.highlight {
    display: flex;
    min-height: 70vh;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-dark);
}

.highlight div {
    width: 80vw;
}

.highlight div h2 {
    font-size: 3.052rem;
    line-height: 4rem;
    color: var(--text-light);
}

.dark {
    background-color: var(--primary-dark);
}

.dark h2 {
    color: var(--text-light);
}

.dark a {
    color: var(--accent);
}

.dark a::after {
    background-color: var(--accent);
}

/* request section */
#request {
    display: flex;
    min-height: 50vh;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-light);
}

#request div {
    width: 50vw;
    min-width: 450px;
}

/* Footer */
footer {
    display: flex;
    padding: 5vh 2rem;
    align-items: top;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-dark);
    color: var(--text-light);
}

footer h2,
footer h3 {
    color: var(--text-light);
}

footer a {
    color: var(--text-light);
}

footer section.left {
    display: flex;
    max-width: 50vw;
    align-items: top;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer section div {
    margin: 0px 1rem 1rem 1rem;
}
